<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dotify.dotskii">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:label="Dotskii"
        android:icon="@mipmap/ic_launcher"
        android:exported="true">

        <activity android:name=".HomeScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".DotOverlayService"
            android:exported="false" />
    </application>

</manifest>
